<h1> Hello world! </h1>

<a  href='/attack'> 공격 </a>
<a href='/defense'> 방어 </a>

<form action="/attack">
누가 : <input type="text" name="UserA"><br>
누구를 : <input type="text" name="UserB"><br>
<input type="submit" value="공격">
</form>
<br><hr><br>
<form action="/defense">
누가 : <input type="text" name="UserA"><br>
누구를 : <input type="text" name="UserB"><br>
<input type="submit" value="방어">
</form>
