<h1>새 글 쓰기</h1>

<form action="/posts/create">
  제목:<br>
  <input type="text" name="input_title"><br>
  내용:<br>
  <input type="text" name="input_content"><br><br>
  <input type="submit" value="제출">
</form>
